:root {
  font-family: Inter, sans-serif; /* Inter is the default font */
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  font-size: 16px;
  --off-white: #f8f8f8;
  --light-grey: #c6c6c6;
  --medium-grey: #a8a8a8;
  --dark-grey: #525252;
  --off-black: #020202;
  /* Container max dimensions are dynamically set by js/aspect.js based on viewport aspect ratio */
  --container-max-width: 500px;
  --container-max-height: 350px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

::selection {
  background-color: var(--off-black);
  color: var(--off-white);
}

.link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  font-family: inherit; /* Inherit font family from parent */
  font-size: inherit; /* Inherit font size from parent */
  transition: color 500ms ease-in-out; /* Smooth fade on hover */
}

.link:hover {
  color: var(--medium-grey);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--off-black);
  padding: 50px;
  font-family:
    Inter Variable,
    sans-serif;
  font-weight: 750;
  font-size: 1.25rem;
  font-optical-sizing: auto;
  letter-spacing: -0.05rem;
  color: var(--off-white);
  /* below makes body a flex container to center .container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  /* border: 1px solid black; */
  max-width: var(--container-max-width);
  max-height: var(--container-max-height);
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TEXT POSITIONING */

.headnav {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: flex-start;
  opacity: 0;
  animation: fade-in 2s ease-out 1s forwards;
}

.linknav {
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  animation: fade-in 2s ease-out 2s forwards;
}

@media (prefers-reduced-motion: reduce) {
  .headnav,
  .linknav {
    animation: none;
    opacity: 1;
    transform: none;
  }
}

.navwrap {
  /* border: 1px solid purple; */
  width: 30%;
}

.navwrap.left {
  text-align: left;
}

.navwrap.right {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

#jerryliu br {
  margin: 0.05rem 0;
}

/* WARNING */

.warning {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--off-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */

/* @media (max-width: 1120px) {
} */

/* @media (max-width: 750px) {
} */

/* Decrease Font Size for Mobile */
@media (max-width: 600px), (max-height: 650px) {
  body {
    font-size: 1rem;
  }
}

/* Too Small To Display */
@media (max-width: 250px), (max-height: 350px) {
  body {
    background-color: var(--off-black);
  }
  .container {
    display: none;
  }
  .warning {
    visibility: visible;
  }
}
